<h2>My Posts</h2>

<button type="submit" class="btn new-post-button">
    <a class="link" href="/dashboard/new">+ New Post</a>
    </button>
<section>
{{#if posts.length}}

  
    {{#each posts as |post|}}
      {{> dashboard-postinfo post}}
    {{/each}}


{{/if}}
</section>



{{!-- <section class="dashboard-container">
    <div class="row">
        <div class="post-lists list-group">
            {{#each posts}}
            <a class="list-item" href="/dashboard/edit{{id}}">
                <span>
                    <h5>{{title}}</h5>
                    <p>{{format_date created_at}}</p>
                </span>
            </a>
            {{/each}}
        </div>
    </div>
</section> --}}


{{!-- <div class="posts list-group">
  {{#each posts}}
  <a class="list-item flex-row justify-space-between" href="/dashboard/edit/{{id}}">
    <span>{{title}}</span>
    <span>{{formatDate createdAt}}</span>
  </a>
  {{/each}}
</div> --}}



{{!-- <section class="dashboard-container">
    {{#if posts.length}}
    <div id="dashboard-posts">
        {{#each posts as |post|}}
        <div class="posts">
            {{>dashboard-postinfo post}}
        </div>
        {{/each}}
    </div>
    {{/if}}
</section>
<div>
    <button type="submit" class="btn new-post-btn">
        <a class="link" href="/dashboard/new">+ New Post</a>
    </button>
</div>

<script src="/js/newPost"></script> --}}
