  <section class="post-container">
    <div class="row">
      {{> post-info post}}
    </div>
  

  {{#if loggedIn}}

  <div class="comment-container">
    <h3 class="card-header comment-title"></h3>
    <form id="comment-form" class="card-body comment-form">

      <div class="form-row">
        <label for="form-label" class="form-label">Comment</label>
        <input type="text" id="comment" name="comment-body" class="form-input form-control">
      </div>

      <div class="form-row">
        <button type="submit" class="btn">Submit</button>
      </div>
      
    </form>
  </div>
  {{/if}}

  {{> comments post.comment}}

  </section>


{{!-- <section class="post-container">
  <div class="row">
    <div class="card">
      <div class="card-header">
        <h3 class="post-title">{{post.title}}</h3>
      </div>
      <div class="post-info">
        <p class="post-details">Posted by {{post.user.username}} on {{formatDate post.createdAt}}</p>
      </div>
      <div class="card-body">
        <p>{{post.content}}</p>
        </div>
    </div>
  </div>

  {{#if post.comments}}
  <div class="card">
    <div class="card-header">
      <h4 class="comments-title">Comments</h4>
    </div>

    <div class="card-body comment-section">
      {{#each post.comments as |comment|}}
      {{>comments}}
      {{/each}}
    </div>
  </div>
  {{/if}}

  <div class="comment-container">
    <div class="row">
      <form id="comment-form" class="card">

        <div class="card-header">
          <h4 class="comment-title">Add New Comment</h4>
        </div>

        <div class="card-body">

          <div class="form-row">
            <input type="hidden" id="comment" value="{{post.id}}" />
          </div>

          <div class="form-row">
            <label class="form-label" for="comment-body">Comment</label>
            <input type="text" id="comment" name="comment-body" class="form-input form-control" />
          </div>

          <div class="form-row">
            <button type="submit" class="btn">Submit</button>
          </div>

        </div>
      </form>
    </div>
  </div> --}}



</section>

<script src="/js/comment.js"></script>